Coursework 4/Service References/Weather/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertCelciusToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="degrees" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertCelciusToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertCelciusToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFahrenheitToCelcius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="degrees" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFahrenheitToCelciusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertFahrenheitToCelciusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Degrees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DegreesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DegreesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertCelciusToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertCelciusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="ConvertCelciusToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertCelciusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertFahrenheitToCelciusSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFahrenheitToCelcius" />
  </wsdl:message>
  <wsdl:message name="ConvertFahrenheitToCelciusSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFahrenheitToCelciusResponse" />
  </wsdl:message>
  <wsdl:message name="DegreesSoapIn">
    <wsdl:part name="parameters" element="tns:Degrees" />
  </wsdl:message>
  <wsdl:message name="DegreesSoapOut">
    <wsdl:part name="parameters" element="tns:DegreesResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherServiceSoap">
    <wsdl:operation name="ConvertCelciusToFahrenheit">
      <wsdl:input message="tns:ConvertCelciusToFahrenheitSoapIn" />
      <wsdl:output message="tns:ConvertCelciusToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFahrenheitToCelcius">
      <wsdl:input message="tns:ConvertFahrenheitToCelciusSoapIn" />
      <wsdl:output message="tns:ConvertFahrenheitToCelciusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Degrees">
      <wsdl:input message="tns:DegreesSoapIn" />
      <wsdl:output message="tns:DegreesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertCelciusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/ConvertCelciusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFahrenheitToCelcius">
      <soap:operation soapAction="http://tempuri.org/ConvertFahrenheitToCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Degrees">
      <soap:operation soapAction="http://tempuri.org/Degrees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherServiceSoap12" type="tns:WeatherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertCelciusToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/ConvertCelciusToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFahrenheitToCelcius">
      <soap12:operation soapAction="http://tempuri.org/ConvertFahrenheitToCelcius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Degrees">
      <soap12:operation soapAction="http://tempuri.org/Degrees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:53409/WeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherServiceSoap12" binding="tns:WeatherServiceSoap12">
      <soap12:address location="http://localhost:53409/WeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>