Coursework 4/Service References/Currency/CurrencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExchangeRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExchangeRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExchangeRateResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateExchangeRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateExchangeRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateExchangeRateResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExchangeRateSoapIn">
    <wsdl:part name="parameters" element="tns:ExchangeRate" />
  </wsdl:message>
  <wsdl:message name="ExchangeRateSoapOut">
    <wsdl:part name="parameters" element="tns:ExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateExchangeRateSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateExchangeRate" />
  </wsdl:message>
  <wsdl:message name="CalculateExchangeRateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateExchangeRateResponse" />
  </wsdl:message>
  <wsdl:portType name="CurrencyServiceSoap">
    <wsdl:operation name="ExchangeRate">
      <wsdl:input message="tns:ExchangeRateSoapIn" />
      <wsdl:output message="tns:ExchangeRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateExchangeRate">
      <wsdl:input message="tns:CalculateExchangeRateSoapIn" />
      <wsdl:output message="tns:CalculateExchangeRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyServiceSoap" type="tns:CurrencyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExchangeRate">
      <soap:operation soapAction="http://tempuri.org/ExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateExchangeRate">
      <soap:operation soapAction="http://tempuri.org/CalculateExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CurrencyServiceSoap12" type="tns:CurrencyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExchangeRate">
      <soap12:operation soapAction="http://tempuri.org/ExchangeRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateExchangeRate">
      <soap12:operation soapAction="http://tempuri.org/CalculateExchangeRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port name="CurrencyServiceSoap" binding="tns:CurrencyServiceSoap">
      <soap:address location="http://localhost:53409/CurrencyService.asmx" />
    </wsdl:port>
    <wsdl:port name="CurrencyServiceSoap12" binding="tns:CurrencyServiceSoap12">
      <soap12:address location="http://localhost:53409/CurrencyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>